main {
  margin-top: 70px;

  @media (min-width: 768px) {
    margin-top: 115px;
  }

  .panel {
    &.win_festival {
      min-height: 300px;
      position: relative;

      .panel__bg-img {
        background-position: center center;
        background-size: cover;
        min-height: 366px;
      }

      .panel__container {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translate(0, -50%);
        height: auto;

        .slide-description__title {
          font: normal 3.625rem/4rem 'GrotesqueMTW01-Condense', sans-serif;
          text-transform: uppercase;
          color: $color-white;

          @media screen and (max-height: 700px) and (min-width: 768px) {
            font-size: 7rem;
            line-height: 7.375rem;
          }

          @media (min-width: 768px) {
            font-size: 9rem;
            line-height: 9.375rem;
            letter-spacing: .06rem;
            display: block;
          }

          em {
            font: 1.81rem 'Grotesque MT W01 Bold', sans-serif;
            position: relative;
            top: -11px;
            right: 0;
            border: 6px solid $color-white;
            border-left: none;
            border-right: none;

            @media screen and (max-height: 700px) and (min-width: 768px) {
              font-size: 2.3rem;
              top: -28px;
            }

            @media (min-width: 768px) {
              font-size: 3.625rem;
              line-height: 4.375rem;
              top: -34px;
              border-width: 13px;
              letter-spacing: .06rem;
              padding: 7px 0;
            }
          }

          strong {
            font-weight: bold;
            font-size: 3.625rem;
            letter-spacing: .5rem;
            display: block;

            @media screen and (max-height: 700px) and (min-width: 768px) {
              font-size: 7rem;
              line-height: 7.375rem;
            }

            @media (min-width: 768px) {
              font-size: 9rem;
              line-height: 9.375rem;
              letter-spacing: .06rem;
            }
          }
        }
      }
    }

    &.bacardi_logo_center {
      min-height: 560px;
      position: relative;
      margin-top: 0;
      margin-bottom: 0;

      @media (min-width: 768px) {
        margin-top: 100px;
        margin-bottom: 100px;
      }

      .panel {
        &__bg-img {
          background-position: center center;
          background-size: cover;
          min-height: 560px;
        }

        &__container {
          position: absolute;
          text-align: center;
          width: 100%;
          top: 50%;
          transform: translate(0, -50%);
          height: auto;
        }

        &__hero-layout-content {
          max-width: 760px;
          margin: 0 auto;
        }

        &__desc {
          margin-top: -25px;

          @media (min-width: 768px) {
            margin-top: -70px;
          }
        }

        &__restricted-content {
          background-size: contain;
          width: 100%;
          background: url(https://d323g1xugy1rkz.cloudfront.net/wp-content/uploads/sites/3/2018/06/21133228/feature-frame-rhombus.svg) no-repeat center;
          height: 700px;
          text-align: center;
          z-index: 100;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .wp-image img {
            max-width: 40%;

            @media (min-width: 768px) {
              max-width: 240px;
            }
          }

          h3 {
            font-weight: 600;
            font-family: 'Grotesque MT W01 Bold', sans-serif;
            text-transform: uppercase;
            font-size: 0.835rem;
            max-width: 200px;
            margin: 10px auto;

            @media (min-width: 768px) {
              font-size: 1.375rem;
              max-width: 350px;
              margin: 40px auto 30px;
            }
          }

          .enter-your-code {
            input {
              height: 40px;
              background: $color-bg;
              border: 1px solid #ad998b;
              text-align: center;
              font-weight: 600;
              font-family: 'Grotesque MT W01 Bold', sans-serif;
              text-transform: uppercase;
              font-size: 1.375rem;
              color: $color-black;
              margin-bottom: 10px;
              max-width: 60%;

              @media (min-width: 768px) {
                margin-bottom: 30px;
                max-width: 1000%;
              }
            }
          }
        }
      }
    }

    &.enjoy_weekend {
      text-align : center;
      margin: 65px 0;

      .fl-text__content {
        display: inline-flex;

        h2 {
          font: 1.375rem/1.75rem 'GrotesqueMTW01-Condense', sans-serif;
          text-align: center;
          letter-spacing: .06rem;
          margin-bottom: 20px;
          text-transform: uppercase;
          position: relative;
          padding: 17px 0;

          &::before,
          &::after {
            content: "";
            border-top: 2px solid #1a1818;
            width: 100%;
            display: block;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
          }

          &::before {
            top: 0;
          }

          &::after {
            bottom: 0;
          }

          @media (min-width: 768px) {
            font-size: 2.25rem;
            line-height: 2.625rem;
          }

          strong {
            font-weight: 700;
            font-family: 'Grotesque MT W01 Bold', sans-serif;
            display: block;
          }
        }
      }
    }

    &.win_trip {
      text-align: center;

      .fl-text__content {
        font: 1.2rem/1.75rem 'Grotesque MT W01 Bold', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        max-width: 550px;
        margin: 0 auto;

        h3 {
          font: 1.375rem/1.75rem 'Grotesque MT W01 Bold', sans-serif;
          text-align: center;
          letter-spacing: .06rem;
          max-width: 440px;
          padding: 17px 20px 30px;
          font-weight: 700;
          margin: 0 auto;
        }

        .dates-text {
          font-size: 1.375rem;
          font-weight: 700;
          letter-spacing: .06rem;
          padding: 0;
        }

        p {
          margin-bottom: 20px;
        }
      }

      .fl-image__wrapper {
        img {
          margin-bottom: 30px;

          @media (min-width: 768px) {
            min-width: 260px;
          }
        }
      }
    }

    &.main_prize {
      text-align: center;

      .fl-text__content h2 {
        font-size: 1rem;
        line-height: 1.375rem;
        font-family: "Grotesque MT W01 Bold",sans-serif;
        text-transform: uppercase;
        position: relative;
        display: inline;

        &::before,
        &::after {
          content: "";
          display: inline-block;
          width: 45px;
          height: 18px;
          position: absolute;
          top: 0;
        }

        @media (min-width: 768px) {
          width: 60px;
          height: 25px;
          top: -3px;
        }

        &::before {
          left: -50px;
          background: url(https://d323g1xugy1rkz.cloudfront.net/wp-content/uploads/sites/3/2018/06/21133320/trident-left.svg) no-repeat;
        }

        &::after {
          right: -50px;
          background: url(https://d323g1xugy1rkz.cloudfront.net/wp-content/uploads/sites/3/2018/06/21133323/trident-right.svg) no-repeat;
        }
      }

    }
  }

  .fl-button {
    &__link {
      font: 1rem 'EngraversGothicBTW01-Re',sans-serif;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .1rem;
      text-align: center;
      padding: 20px;
      color: #c10020;
      position: relative;
      box-sizing: border-box;
      background: 0 0;

      @media (min-width: 768px) {
        min-width: 200px;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &::before {
        z-index: -10;
        background: url(https://d323g1xugy1rkz.cloudfront.net/wp-content/uploads/sites/3/2018/06/21133207/btn-transparent.svg) 0 0/100% 100% no-repeat transparent;
      }

      &::after {
        opacity: 0;
        z-index: -10;
        transition: all .3s ease 0s;
        background: url(https://d323g1xugy1rkz.cloudfront.net/wp-content/uploads/sites/3/2018/06/21133203/btn-red.svg) 0 0/100% 100% no-repeat transparent;
      }

      &:hover {
        color: $color-white;
        cursor: pointer;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}